.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 200px;
}
.icon{
  font-size: 1rem;
  position: relative;
  width:'30px';
  height:'40px';
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 25vh;
}
h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}
/* Additional styles for the first card */
.app .card:first-child {
  position: relative;
  background-color: #E3E4FA;
}

.app .card:first-child h2 {
  font-size: 32px; 
  color: #007bff; 
}

.app .card:first-child p {
  font-size: 14px; 
  color: black; 
}

.app .card:first-child span.usd {
  font-size: 12px; 
  color: black; 
}
.app .card:nth-child(2) {
  background-color: rgb(239, 220, 231); 
}
.app .card:nth-child(3) {
  background-color: rgb(239, 220, 231); 
  height: 150px;
}

.App {
  display:inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh; 
  width: 100%; 
  max-width: 100%;
  border: 1px solid mediumblue;
  margin: auto;
}